/*
 * MOBILE (<768px)---------------------------------
 * fixture                  sm
 * # of columns             4
 * # gutter                 20px
 * # margin                 5px
 * # container-size         100% - ( 5px * 2 )
*/

/*
 * TABLET ( ≥ 768px)---------------------------------
 * fixture                   md
 * # of columns              12
 * # gutter                  20px
 * # margin                  30px
 * # container-size          100% - ( 30px * 2 )
  * # max-container-size     960px
*/

/*
 * DESKTOP ( ≥ 1200px)---------------------------------
 * fixture                   lg
 * # of columns              12
 * # gutter                  20px
 * # unit                    75px
 * # container-size          1140px
  * # max-container-size     1140px
*/

$gutter: 20px;

$sm-columns: 4;
$sm-margin: 5px;

$md-columns: 12;
$md-margin: 30px;
$md-max-container: 960px + $md-margin * 2;

$lg-columns: 12;
$lg-unit: 75px;
$lg-max-container: ($lg-unit + $gutter) * $lg-columns;

// 터미널에서 값이 잘 나오고있는지 확인하기
//@debug ($lg-unit + $gutter) * $lg-columns; == 1140px

.container {
  width: 100%;
  padding: 0 $sm-margin;
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  // 모든 column에 관한 class를 잡아내기 .col-sm-1 .col-md-1 .col-lg-2
  // col-로 시작하는 모든 class
  [class^='col-'] {
    padding: 0 $gutter / 2;
  }

  //@for $반복문 안에서 사용할 변수이름 from 시작점 through 끝점
  //.col-sm-1 .col-sm-2 .col-sm-3
  @for $i from 1 through $sm-columns {
    //@debug $i;
    .col-sm-#{$i} {
      //width: $i / $sm-columns * 100%;
      width: percentage($i / $sm-columns);
    }
  }

  //@media screen and (min-width: $md-breakpoint)
  @include responsive(T) {
    //tablet일때 mobile일때와 달라지는 변화
    max-width: $md-max-container;
    padding: 0 $md-margin;

    @for $i from 1 through $md-columns {
      //@debug $i;
      .col-md-#{$i} {
        //width: $i / $md-columns * 100%;
        width: percentage($i / $md-columns);
      }
    }
  }
  // @media screen and (min-width: $lg-breakpoint)
  @include responsive(D) {
    //pc일때 tablet 일때와 달라지는 변화
    max-width: $lg-max-container;
    padding: 0;

    @for $i from 1 through $lg-columns {
      .col-lg-#{$i} {
        //lg 부터는 unit사이즈가 %가 아닌 px인 고정값으로
        width: ($lg-unit + $gutter) * $i;
      }
    }
  }
}
